{% extends "blog/base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>{{post.titulo}}</h3>
            {{post.contenido}}
        </div>
    </div>
</div>
{% with comentarios.count as total_comments %}
    <h2>{{ total_comments }} comentario{{ total_comments | pluralize }}</h2>
{% endwith %}

{% for comment in comentarios %}
    <div class="comment">
      <p class="info">
        Comentario {{ forloop.counter }} por {{ comment.nombre }}
        {{ comment.creado }}
      </p>
      {{ comment.mensaje|linebreaks }}
    </div>
  {% empty %}
    <p>No existen comentarios aún.</p>
  {% endfor %}

  {% if nuevo_comentario %}
      <h2>Your comment has been added.</h2>
  {% else %}
      <h2>Deje su comentario</h2>
      <form action="." method="post">
          {{ cometario_form.as_p }}
          {% csrf_token %}
          <p><input type="submit" value="Agregar comentario"></p>
      </form>
  {%  endif %}



{% endblock content %}
